// Styling for the footer
section#footer {
  background-color: #e0e0e0;
  padding: 30px 0;
  img {
    width: 200px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  section#footer img {
    width: 270px;
    margin-bottom: 0;
  }
}