// Styling for the services section
section#services {
  background-color: #f6f6f6;
  .block-item {
    display: flex;
    align-items: center;
    img {
      margin-right: 15px;
    }
  }
}
section#about {
  line-height: 1.2;
  .mission-text {
    font-size: 18px;
    line-height: 1.4;
  }
  img {
    max-width: 100%;
  }
  .about-digits {
    font-size: 48px;
    color: #8e483f;
    text-transform: uppercase;
    @include roboto-bold;
  }
  .about-credit {
    font-size: 36px;
    color: #8e483f;
    @include roboto-bold;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
  }
  .about-credit-other {
    font-size: 18px;
    color: $red;
    @include roboto-bold;
    margin-top: 5px;
  }
}